<h1>All Guests</h1>
<% @guests.each do |guest| %>
    <form >
      <label for="name">Name:</label>
      <%= guest.name %>
      <label for="phone">Phone:</label>
      <%= guest.phone %>
    </form><br>
    <% end %>