

<div class="container">


    <div style="height:55px" class="bbottom mb-3">
      <h1 >
       All Meeting 
      </h1>
    </div>

<div class="container">
<table class="table table-dark my-3 ">
  <thead class="bg-success">
    <tr>
      <th>Guest</th>
      <th>Purpose</th>
      <th>Employee</th>
      <th>Status</th>
     
    </tr>
  </thead>

  <tbody>
    <% @mettingall.each do |metting| %>
      <tr>
        <td><%= metting.guest.name %></td>
          <td><%= metting.purpose %></td>
          <td><%= metting.user.name %></td>
          <td> 
              <% if metting.status =="0" %>
              <span class="badge bg-primary">Ongoing</span>
              <% elsif metting.status =="1" %>
              <span class="badge bg-success">Complete</span>
              <% elsif metting.status =="2" %>
              <span class="badge bg-danger">Rejected</span> <button id="close" class="btn btn-danger">Close</button>
              <% end %>
          </td>
       </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>