
<div class="container">
  <div style="width:100%;height:55px" class="bbottom">
    <div><h1>HOME<span style="font-size:16px;">
      <% if @user.role.id == 1 || @user.role.id == 2 %>
        <ul class="navbar-nav float-right">
         <div class="dropdown" style="float:right;">
          <a class="btn mr-5 " href="#" role="button" id="notificationadmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class=" fa fa-bell fa-2x"></i><span class=" p-1" ><span class="badge badge-danger" style="font-size:15px;"id="count1"></span>
          </a>
          <div class="dropdown-content" id="shownotification1" >
            <a href="#">No New Notification</a>
          </div>
        </div>
        </ul></span></h1>

        <% else %>
        <span style="font-size:16px;">
          <ul class="navbar-nav float-right">
           <div class="dropdown" style="float:right;">
            <a class="btn mr-5 " href="#" role="button" id="notificationadmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class=" fa fa-bell fa-2x"></i><span class=" p-1" ><span class="badge badge-danger" style="font-size:15px;"id="count2"></span>
            </a>
            <div class="dropdown-content" id="shownotification2" >
              <a href="#">No New Notification</a>
            </div>
          </div>
          </ul></span>
        </h1>

      <% end %>
    </div>
  </div>
  <br>
<div class="container">
  <div class="jumbotron ">
  <h1>Hi,<%= @user.name.to_s.split(" ")[0].capitalize%></h1>
      <h1 class="display-5 ml-3">Welcome To Guest Management</h1>
      <%= link_to "Sign out", session_path(@user.id), method:"delete" ,class:"btn btn-info"%>
  </div>
</div>
</div>
